.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn {
  color: white;
  border: white 1px solid;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: white;
    color: #1f3c62;
    border-color: white;
  }
}
