@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");

:root {
  --primaryColor: rgb(255, 255, 255);
  --textPrimaryColor: white;
  --accentColor: #1f3c62;
  --textColor: #ffffff;
  --textColor2: rgb(0, 0, 0);
  --textColor2Highlight: rgb(0, 0, 0);
  --textWhite: white;

  --bg-color-2: #f2f2f2;

  /* 
  --primaryColor: rgb(21, 34, 52);
  --textPrimaryColor: white;
  --accentColor:#0099ff;
  --textColor: #575ba9;
  --textColor2: rgb(77, 105, 122);
  --textColor2Highlight: rgb(92, 137, 163); */

  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--primaryColor);
  /* overflow-x: hidden; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */
.container {
  max-width: 1150px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.hide {
  display: none !important;
}

.align-left {
  display: flex;
  justify-content: flex-end;
}

.section {
  padding: 2rem 2rem;
  color: var(--textColor2);
  width: 100%;
}

.section-header {
  color: var(--accentColor);
  margin-bottom: 0.7rem;
  font-size: 2rem;
  text-align: center;
}

.section-subheader {
  color: var(--accentColor);
  margin-bottom: 0.5rem;
}

.highlight {
  color: var(--accentColor);
}

.cursor-pointer {
  cursor: pointer;
}

.text-white {
  color: white;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.z-10 {
  z-index: 10;
}

.translate-x-full {
  transform: translateX(100%);
}

.translate-x-0 {
  transform: translateX(0px);
}

.relative {
  position: relative;
}

.w-prose {
  max-width: 65ch;
}

.accent-bg {
  background-color: var(--accentColor);
  color: var(--textWhite);
}

.accent-bg > .container > .section-header {
  color: var(--textWhite) !important;
}

.accent-bg-2 {
  background-color: var(--bg-color-2);
}

.hero-min-height {
  min-height: 450px;
}

/* Other Classes */

.nav-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar {
  position: relative;
  top: 0;
  height: 4rem;
  box-shadow: 0px 0px 3px #000;
  color: #000;
}

.navbar-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.hamburger-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.hamburger-icon:hover {
  color: var(--accentColor);
}

.close-icon {
  cursor: pointer;
}

.close-icon:hover {
  color: var(--accentColor);
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: var(--accentColor) 4px solid;
  margin-left: 1rem;
  color: var(--accentColor);
  width: 3rem;
  height: 3rem;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.nav-left:hover {
  color: white;
  background-color: var(--accentColor);
}

.nav-left a {
  text-decoration: none;
  color: inherit;
}

.nav-right {
  /* display: block; */
  position: absolute;
  top: 4rem;
  width: 100%;
  padding: 1rem;
  background-color: white;
  /* height: 1000px; */
  z-index: 1000;
  transition: all 200ms ease-in-out;
}

.nav-right > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.nav-item:hover {
  color: var(--accentColor);
}

.nav-btn {
  border: solid 2px var(--accentColor);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--accentColor);
  transition: all 200ms ease-in-out;
}

.nav-btn:hover {
  color: white;
  background-color: var(--accentColor);
}

footer {
  width: 100%;

  color: white;
  background: var(--accentColor);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 100%;
  border: 4px solid white;
  width: 2.5rem;
  height: 2.5rem;
  transition: all 150ms ease-in-out;
}

.footer-logo a {
  text-decoration: none;
  color: inherit;
}

.footer-logo:hover {
  background-color: white;
  color: var(--accentColor);
}

.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer-icons a {
  color: inherit;
  cursor: pointer;
}

.hero {
  font-family: "Source Code Pro", monospace;
  max-height: calc(100% - 60px);
  min-height: calc(100vh - 60px);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem 0 1rem;
  color: var(--textColor2);
  overflow: hidden;
}

.hero-introduction {
  color: var(--accentColor);
  font-size: 1.6rem;
}

.name-header {
  color: var(--textColor2Highlight);
  font-size: 2.2rem;
}

.contact-btn {
  border: solid 2px var(--accentColor);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--accentColor);
  margin: 0.5rem 0;
  background-color: none;
  transition: all 200ms ease-in-out;
}

.contact-btn:hover {
  color: white;
  background-color: var(--accentColor);
}

#hero-contact-btn {
  text-decoration: none;
  color: inherit;
}

.svg1 {
  /* display: none; */
  color: var(--bg-color-2);
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-90deg) translate(0, -100%);
  transform-origin: right 0;
  min-height: 200px;
  z-index: 0;
  height: calc(100vh / 3);
}

.svg2 {
  color: var(--accentColor);
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-90deg) translate(0, -100%);
  transform-origin: right 0;
  min-height: 200px;
  height: calc(100vh / 3);
  z-index: 0;
}

.profile-img-container {
  border-radius: 100%;
  width: 300px;
  margin: 1rem auto;
  overflow: hidden;
}

.profile-img {
  max-width: 300px;

  border-radius: 0.25rem;
}

.tech-container {
  margin-top: 1rem;
}

.tech-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tech-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--textColor2Highlight);
}

.tech-icon {
  color: var(--accentColor);
}

.technologies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--bg-color-2);
}

.technology-icon {
  justify-self: center;
  color: #333;
  transition: all 100ms ease-in-out;
}

.technology-icon:hover {
  color: var(--accentColor);
}

.project-container:not(:last-child) {
  position: relative;
  margin-bottom: 4rem;
}

.project-container:last-child {
  margin-bottom: 6rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 2rem;
  background-color: var(--bg-color-2);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-right {
  left: 2rem;
  top: 4rem;
}

.card-left {
  left: -2rem;
  right: 4rem;
  top: 4rem;
}

.project-title {
  font-size: 1.8rem;
  /* width: min-content; */
  transition: color 200ms ease-in-out;
}

.project-title:hover {
  color: var(--accentColor);
}

.icons-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.icons-container > svg:hover {
  color: var(--accentColor);
  cursor: pointer;
}

#contact-section {
  background-color: var(--accentColor);
  color: var(--accentColor);
}

#contact-container {
  margin-top: -6rem;
  padding: 1rem 2rem;
  background-color: var(--bg-color-2);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-form {
  display: grid;
  gap: 0.3rem;
}

.contact-text {
  padding: 0 1.5rem;
  text-align: center;
}

.contact-group {
  display: flex;
  flex-direction: column;
}

.contact-form > input,
textarea {
  border-radius: 0.5rem;
  padding-inline: 0.25rem;
}

/* For larger then mobile */

@media (max-width: 320px) {
  body {
    font-size: 0.8rem;
  }
  .nav-wrapper {
    overflow: scroll;
  }
}
@media (min-width: 640px) {
  .hero-introduction {
    font-size: 2.5rem;
  }

  .name-header {
    font-size: 3.5rem;
  }
  .contact-btn {
    margin: 1rem 0;
  }

  .section-header {
    font-size: 3rem;
  }

  /* .text-img {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  } */

  /* .profile-img-container {
    width: 2800px;
  } */

  .technologies-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 0.5rem;
  }

  .project-container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1rem;
    margin: 4rem 0;
  }

  .project-img-container {
    overflow: hidden;
  }

  .project-card {
  }
  .img-overlay {
    opacity: 0;
  }

  .card-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
}

@media (min-width: 925px) {
  .nav-right {
    position: static;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: none;
    transform: translateX(0);
    transition: none;
  }

  .nav-right ul {
    flex-direction: row;
  }

  .hamburger-icon {
    display: none;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  #project-section {
    margin-bottom: 3rem;
  }

  .project-container:last-child {
    margin-bottom: 4rem;
  }

  .text-img {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .profile-img-container {
    width: 1200px;
    aspect-ratio: 1/1;
  }
}
